* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

header {
    width: 100%;
    border-bottom: 1px rgba(0, 0, 0, 0.062) solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .container {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        padding: 10px 0;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;


            li:hover {
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                color: red;
                transition: all .3s ease-in-out;
            }
        }

        .options {
            display: flex;
            align-items: center;
            gap: 10px;

            .dark-light {

                /* From Uiverse.io by andrew-demchenk0 */
                .switch {
                    font-size: 17px;
                    position: relative;
                    display: inline-block;
                    width: 64px;
                    height: 34px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #73C0FC;
                    transition: .4s;
                    border-radius: 30px;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 30px;
                    width: 30px;
                    border-radius: 20px;
                    left: 2px;
                    bottom: 2px;
                    z-index: 2;
                    background-color: #e8e8e8;
                    transition: .4s;
                }

                .sun svg {
                    position: absolute;
                    top: 6px;
                    left: 36px;
                    z-index: 1;
                    width: 24px;
                    height: 24px;
                }

                .moon svg {
                    fill: #73C0FC;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    z-index: 1;
                    width: 24px;
                    height: 24px;
                }

                /* .switch:hover */
                .sun svg {
                    animation: rotate 15s linear infinite;
                }

                @keyframes rotate {

                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                /* .switch:hover */
                .moon svg {
                    animation: tilt 5s linear infinite;
                }

                @keyframes tilt {

                    0% {
                        transform: rotate(0deg);
                    }

                    25% {
                        transform: rotate(-10deg);
                    }

                    75% {
                        transform: rotate(10deg);
                    }

                    100% {
                        transform: rotate(0deg);
                    }
                }

                .input:checked+.slider {
                    background-color: #183153;
                }

                .input:focus+.slider {
                    box-shadow: 0 0 1px #183153;
                }

                .input:checked+.slider:before {
                    transform: translateX(30px);
                }
            }
        }
    }


}

.section1{
   .container{
     width: 75%;
    height: auto;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }  
}

footer{
    .container{
        position: fixed;
        bottom:20px;
        right: 2%;
        background-color: #183153;
        color: aliceblue;
        padding: 10px;
        border-radius: 50%;

    }
}